<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyQQ.Properties.Settings.MyQQConnectionString" connectionString="Data Source=PC201303101751\SQLEXPRESS;Initial Catalog=MyQQ;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>